<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palmcms.api.cms.CmsMapper">

    <select id="getCmsAmtInfoByUserId" resultType="com.palmcms.api.cms.CmsAmtInfoVO">
        select T.userId, T.totalCmsPayAmt, T.totalWithdrawAmt
        , case when T.totalCmsPayAmt > T.totalWithdrawAmt then T.totalCmsPayAmt - T.totalWithdrawAmt else 0 end unpaidAmt
        , case when T.totalWithdrawAmt > T.totalCmsPayAmt then T.totalWithdrawAmt - T.totalCmsPayAmt else 0 end depositAmt
        from (
            select T1.userId
            , T1.totalCmsPayAmt
            , ifnull(sum(W.withdrawAmt), 0) totalWithdrawAmt
            from (
                select U.id userId, ifnull(sum(S.cmsPayAmt), 0) totalCmsPayAmt
                from TO_USER U
                left outer join TO_SUBSCRIPTION S on U.id = S.buyerId and S.cmsTag like 'CMS%'
                group by U.id
            ) T1
            left outer join CMS_USER CU on CU.userId = T1.userId
            left outer join CMS_WITHDRAW_HISTORY W on W.payerNo = CU.payerNo and W.status in ( '미납', '완납', '직접수납' )
            group by T1.userId, T1.totalCmsPayAmt
        ) T
        where T.userId = #{userId}
    </select>

    <select id="getCmsUserByPayerNo" resultType="com.palmcms.api.domain.DTO.CmsUserDTO">
        select *
        from CMS_USER
        where payerNO = #{payerNO}
    </select>

    <select id="getManagersByChurchId" resultType="com.palmcms.api.domain.DTO.UserDTO">
        select U.*, CH.parishName, CH.churchName userChurchName
        from TO_USER U
        join TO_USER_AUTHORITY UA on UA.userId = U.id and UA.authorityName = 'ROLE_CUSTOMER'
        join TO_USER_MANAGE_CHURCH UMC on UMC.userId = U.id
        join TO_CHURCH CH on CH.id = UMC.churchId
        where UMC.churchId = #{churchId}
    </select>

    <select id="getApplicationsByUserId" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select * from CMS_APPLICATION
        where userId = #{userId}
        order by id desc
    </select>

    <insert id="addCmsApp">
        insert into CMS_APPLICATION
        (
            userId, userName, proviName, nickName, userContactNo, userBirthDay, userSign
            , productName, productPrice, productServiceMonth
            , holderName, selfYN, relation, bankCode, acctNo, holderContactNo, holderBirthDay, holderSign
            , cmsAppStatus
            , creationDate, modificationDate
        )
        values
        (
            #{userId}, #{userName}, #{proviName}, #{nickName}, #{userContactNo}, #{userBirthDay}, #{userSign}
            , #{productName}, #{productPrice}, #{productServiceMonth}
            , #{holderName}, #{selfYN}, #{relation}, #{bankCode}, #{acctNo}, #{holderContactNo}, #{holderBirthDay}
            , #{holderSign}, 'NEW'
            , sysdate(), sysdate()
        )

    </insert>













    <!-- For User -->

    <select id="getAppListByUserId" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select A.*, U.userLoginId
        from CMS_APPLICATION A
        join TO_USER U on A.userId = U.id
        where 1 = 1
            and U.id = #{userId}
        order by A.id desc
    </select>


    <select id="getAppOneByUserId" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select A.*, U.userLoginId
        from CMS_APPLICATION A
        join TO_USER U on A.userId = U.id
        where 1 = 1
          and U.id = #{userId}
          and A.id = #{appId}
        order by A.id desc
    </select>

    <!-- For Manager -->

    <select id="getAppListByManagerUserId" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select A.*, U.userLoginId
        from CMS_APPLICATION A
        join TO_USER U on A.userId = U.id
        join TO_USER_MANAGE_CHURCH UMC on UMC.churchId = U.churchId
        join TO_USER_AUTHORITY UA on UA.userId = UMC.userId and UA.authorityName = 'ROLE_CUSTOMER'
        where 1 = 1
          and UMC.userId = #{managerUserId}
        <if test='keywordType == "userLoginId"'>
            <if test='keywordText != null and keywordText != ""'>
                and U.userLoginId like CONCAT('%',#{keywordText},'%')
            </if>
        </if>
        <if test='keywordType == "userName"'>
            <if test='keywordText != null and keywordText != ""'>
                and U.userName like CONCAT('%',#{keywordText},'%')
            </if>
        </if>
        order by A.id desc
    </select>

    <select id="getAppOneByManagerUserId" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select A.*, U.userLoginId
        from CMS_APPLICATION A
        join TO_USER U on A.userId = U.id
        join TO_USER_MANAGE_CHURCH UMC on UMC.churchId = U.churchId
        join TO_USER_AUTHORITY UA on UA.userId = UMC.userId and UA.authorityName = 'ROLE_CUSTOMER'
        where 1 = 1
          and UMC.userId = #{managerUserId}
          and A.id = #{appId}
        order by A.id desc
    </select>



    <!-- For Admin -->


    <select id="getAppList" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select A.*, U.userLoginId
        from CMS_APPLICATION A
        join TO_USER U on A.userId = U.id
        where 1 = 1
        <if test='keywordType == "userLoginId"'>
            <if test='keywordText != null and keywordText != ""'>
                and U.userLoginId like CONCAT('%',#{keywordText},'%')
            </if>
        </if>
        <if test='keywordType == "userName"'>
            <if test='keywordText != null and keywordText != ""'>
                and U.userName like CONCAT('%',#{keywordText},'%')
            </if>
        </if>
        order by A.id desc
    </select>

    <select id="getAppOne" resultType="com.palmcms.api.domain.DTO.CmsApplicationDTO">
        select A.*, U.userLoginId
        from CMS_APPLICATION A
        join TO_USER U on A.userId = U.id
        where 1 = 1
        and A.id = #{appId}
    </select>

</mapper>