<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palmcms.api.cms.CmsMapper">

    <select id="selectUserCmssInfoByUserId" resultType="com.palmcms.api.cms.UserCmsInfoVO">
        select U.userLoginId, U.userName, U.proviName, U.nickName, U.contactNo
                , U.socialRegNumber, CH.churchName
                , U.userStatus, C1.codeVal userStatusName
                , B.unpaidAmt
        from TO_USER U
                 join TO_CHURCH CH on U.churchId = CH.id
                 left outer join ( select userId, max(cmsbIllDay) cmsbIllDay from CMS_BILL where userId = #{userId}) BM on BM.userId = U.id
                 left outer join CMS_BILL B on B.userId = BM.userId and B.cmsBillDay = BM.cmsbIllDay
                 left outer join TO_COMMON_CODE C1 on C1.codeGroup = 'userStatus' and C1.codeKey  = U.userStatus
        where U.id = #{userId}
    </select>

    <select id="selectManagersByChurchId" resultType="com.palmcms.api.cms.ManagerVO">
        select U.userName, U.contactNo from TO_USER_MANAGE_CHURCH UMC
                join TO_USER U on U.id = UMC.userId
                join TO_USER_AUTHORITY UA on UA.authorityName = 'ROLE_CUSTOMER' and UA.userId = U.id
        where churchId = #{churcId}
    </select>

    <insert id="insertCmsApp">
        insert into CMS_APPLICATION
        (
            userId, userName, proviName, nickName, userContactNo, userSocialRegnNmber
            , productName, productPrice, productServiceMonth
            , holderName, selfYn, relation, bankCode, acctNo, holderContactNo, holderSocialReNnumber, cmsAppStatus
            , creationDate, modificationDate
        )
        values
        (
            #{userId}, #{userName}, #{proviName}, #{nickName}, #{userContactNo}, #{userSocialRegnNmber}
            , #{productName}, #{productPrice}, #{productServiceMonth}
            , #{holderName}, #{selfYn}, #{relation}, #{bankCode}, #{acctNo}, #{holderContactNo}, #{holderSocialReNnumber}, 'NEW'
            , sysdate(), sysdate()
        )

    </insert>

</mapper>