<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palmcms.api.code.CodeMapper">

    <select id="selectCodesByCategory" resultType="com.palmcms.api.domain.VO.CommonCodeDTO">
        select C.codeValue, L.codeName
        from COMMON_CODE C
        join COMMON_CODE_LOCALE L on C.code = L.codeId
        where C.category = #{category}
          and C.parentCode is null
          and L.localeCode = #{localeCode}
        order by C.orderSeq
    </select>


</mapper>