<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palmcms.api.user.UserMapper">

    <select id="selectUserById" resultType="com.palmcms.api.domain.DTO.UserDTO">
        select U.*, CH.parishName, CH.churchName userChurchName
        from TO_USER U
        left outer join TO_CHURCH CH on CH.id = U.churchId
        where U.id = #{id}
    </select>


    <select id="selectUserByUserLoginId" resultType="com.palmcms.api.domain.DTO.UserDTO">
        select U.*, CH.parishName, CH.churchName userChurchName
        from TO_USER U
        left outer join TO_CHURCH CH on CH.id = U.churchId
        where U.userLoginId = #{userLoginId}
    </select>


    <select id="selectUserRoles" resultType="com.palmcms.api.domain.DTO.UserRoleDTO">
        select *
        from TO_USER_AUTHORITY
        where userId = #{userId}
    </select>

    <select id="selectUserRoleNames" resultType="String">
        select authorityName
        from TO_USER_AUTHORITY
        where userId = #{userId}
    </select>

    <select id="selectUserToken" resultType="com.palmcms.api.domain.DTO.UserTokenDTO">
        select *
        from TO_USER_TOKEN
        where token = #{token}
        and expiredDate > current_timestamp
    </select>

    <insert id="insertUserToken">
        insert into
            TO_USER_TOKEN ( userId, token, expiredDate )
        values ( #{userId}, #{token}, #{expiredDate} )
    </insert>

    <insert id="updateUserTokenExpiredDate">
        update
            TO_USER_TOKEN
        set
            expiredDate = #{expiredDate}
        where token = #{token}
    </insert>


    <select id="getUserList" resultType="com.palmcms.api.domain.DTO.UserDTO">
        select U.*, CH.parishName, CH.churchName userChurchName
        from TO_USER U
        join TO_CHURCH CH on CH.id = U.churchId
        where U.userStatus in ( 'NEW', 'CONFIRMED', 'REJECT' )
            <if test='churchId != null '>
                and U.churchId = #{churchId}
            </if>
        <if test='keywordType == "userLoginId"'>
            <if test='keywordText != null and keywordText != ""'>
                and U.userLoginId like CONCAT('%',#{keywordText},'%')
            </if>
        </if>
        <if test='keywordType == "userName"'>
            <if test='keywordText != null and keywordText != ""'>
                and U.userName like CONCAT('%',#{keywordText},'%')
            </if>
        </if>
        order by U.id desc
    </select>

</mapper>